{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="model" content="Nokia 6.1">
    <meta name="manufacturer" content="Nokia">
    <meta name="model" content="Nokia 6.1">
    <meta name="tags" content="best android budget phone,budget phones,cheap android phones,Nokia,nokia 6.1,nokia 6.1 review">
    {% if title %}
    <title></title>
    {% else %}
    <title>{{article.title | Digital Trends}}</title>
    {% endif %}
    <meta name="description" content="Months after showing off the Nokia 6 at Mobile World Congress, HMD has brought it to the U.S. under a new name -- the Nokia 6.1. For its $270 price tag, the Nokia 6.1 offers exceptional value. Both beautiful and powerful, the Nokia 6.1 is the latest budget phone to beat.">
    <link rel="canonical" href="http://206.189.143.250/phones/article/1"
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="2018-05-18T17:00:51+00:00">
    <meta property="og:title" content="Nokia 6.1 review | Digital Trends">
    <meta property="og:description" content="Months after showing off the Nokia 6 at Mobile World Congress, HMD has brought it to the U.S. under a new name -- the Nokia 6.1. For its $270 price tag, the Nokia 6.1 offers exceptional value. Both beautiful and powerful, the Nokia 6.1 is the latest budget phone to beat.">
    <meta property="og:url" content="http://206.189.143.250/phones/article/1">
    <meta property="og:site_name" content="Digital Trends">
    <meta property="article:tag" content="best android budget phone">
    <meta property="article:tag" content="budget phones">
    <meta property="article:tag" content="cheap android phones">
    <meta property="article:tag" content="Nokia">
    <meta property="article:tag" content="nokia 6.1">
    <meta property="article:tag" content="nokia 6.1 review">
    <meta property="article:section" content="Mobile">
    <meta property="og:image" content="https://icdn2.digitaltrends.com/image/nokia-6-2018-prd-1200x630-c-ar1.91.jpg">
    <meta property="og:image:secure_url" content="https://icdn2.digitaltrends.com/image/nokia-6-2018-prd-1200x630-c-ar1.91.jpg">

    {% if title %}
    <title></title>
    {% else %}
    <title>{{article.title}}</title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/article.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %}
    <div class="container article">
      <div class="container-fluid ">

      <div class="row">
        <br>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img src="{{article.imageUrl}}" class="img-responsive" alt="{{article.title}}">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h2 >{{article.title| safe}}</h2>
          <h3 style="color: rgba(2, 11, 20, 1);">{{article.date| safe}}</h3>
          <br><br>
          <a href="{{article.articleUrl}}" target="_blank">  <button type="button" class="btn btn-info btn-sm btn-primary" name="button"> <h5>Read Article from  {{article.source| safe}}</h5></button></a>
        </div>
      </div>
      <br>
      <p>
        {{article.article| safe}}
      </p>
    </div>
    </div>
    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="{% static 'js/navbar.js' %}"></script>
      {% bootstrap_javascript %}
    {% endblock %}

  </body>
</html>
