{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% if title %}
    <title></title>
    {% else %}
    <title>{{article.title}}</title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/article.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %}
    <div class="container article">
      <div class="container-fluid ">

      <div class="row">
        <br>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img src="{{article.imageUrl}}" class="img-responsive" alt="{{article.title}}">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h2 >{{article.title| safe}}</h2>
          <h3 style="color: rgba(2, 11, 20, 1);">{{article.date| safe}}</h3>
          <br><br>
          <a href="{{article.articleUrl}}" target="_blank">  <button type="button" class="btn btn-info btn-sm btn-primary" name="button"> <h5>Read Article from  {{article.source| safe}}</h5></button></a>
        </div>
      </div>
      <br>
      <p>
        {{article.article| safe}}
      </p>
    </div>
    </div>
    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="{% static 'js/navbar.js' %}"></script>
      {% bootstrap_javascript %}
    {% endblock %}

  </body>
</html>
