{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% if title %}
    <title></title>
    {% else %}
    <title>News</title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/news.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %}
    <div class="container">
      <div class="row newsrow">
        <br>
        <div class="container-fluid infinite-container">
          {% for number in numbers %}
          <a href="/article/{{number.id}}">
            <div class="row infinite-item">
              <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
                <img src="{{number.imageUrl}}" class="img-responsive" alt="{{number.title}}">
              </div>
              <div class=" col-xs-6 col-sm-7 col-md-7 col-lg-7">
                <p style=" font-size: 16px; color: white; font-weight: bold;">{{number.title| safe}}</h3>
                <h6>{{number.date| safe}}</h6>
                <div class="row">
                  <div class="container-fluid">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-sm  link-btn" name="button"> <h5>{{number.source| safe}}</h5> </button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </a>
          <br>

          {% endfor %}
        </div>

        <div class="loading" style="display: none;">
   Loading...
 </div>

 {% if numbers.has_next %}
   <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
 {% endif %}
      </div>
    </div>

    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/infinite.min.js' %}"></script>
      {% bootstrap_javascript %}
      <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        window.history.pushState
        $('.loading').hide();
      }
    });
  </script>
    {% endblock %}

  </body>
</html>
