h3{
  color: rgba(2, 11, 20, 1);
  font-weight: bold;
}
h4{
  color: rgba(2, 11, 20, 1);
}
p{
  text-align: center;
  font-size: 16px;
  letter-spacing: -.004em
  line-height: 1.58;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
h1{
  color: darkred;
}
.article{
  background-color: white;
}
