{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% if title %}
    <title></title>
    {% else %}
    <title>{{article.title}}</title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/phone_article.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %}
      <div class="container">

        <div class="row"></div>

        <div class="row">
          <div class="col-sm-4">
            <img src="{{article.phone_image.url}}" class="img-responsive img-rounded article-image"  alt="{{article.title}}">
          </div>

          <div class="col-sm-8 top-details">
            <h1 class="text-center">{{article.title}}</h1>
            <div class="col-sm-6">
            <h4>Announced on {{article.launchannounced}}</h4>
            <h4>Available on {{article.launchavailable}}</h4>
            <h4>Available on {{article.launchavailable}}</h4>
            <h4>Available on {{article.launchavailable}}</h4>
            <br><br><br><br><br>
          </div>
          <div class="col-sm-3">
            <h4>Announced on {{article.launchannounced}}</h4>
          </div>
          <div class="col-sm-3">
            <h4>Available on {{article.launchavailable}}</h4>
          </div>
          </div>
        </div>

        <div class="row"> <br><br> </div>

        <div class="row">


          <div class="container">
          <div class="col-sm-12 details">
            <table class="table-responsive table">
      <thead>
      </thead>
      <tbody>

        <tr><th colspan="3"> <h3>Network</h3> </th></tr>
        <tr>
            <td> <h4>2G Network</h4> </td>
            <td> <p>{{network2G}}</p> </td>
        </tr>

        <tr>
          <td> <h4>3G Network</h4> </td>
          <td>  <p>{{network3G}}</p> </td>
        </tr>

        <tr>
          <td> <h4>3G Network</h4> </td>
          <td> <p>{{network4G}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Launch</h3> </th></tr>
        <tr>
            <td> <h4>Announced Date</h4> </td>
            <td> <p>{{article.launchannounced}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Release Date</h4> </td>
          <td>  <p>{{article.launchavailable}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Body</h3> </th></tr>
        <tr>
            <td> <h4>Body Dimensions</h4> </td>
            <td> <p>{{article.bodydimensions}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Body Build</h4> </td>
          <td>  <p>{{article.bodybuild}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Body Weight</h4> </td>
          <td>  <p>{{article.bodyweight}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Body Sim</h4> </td>
          <td>  <p>{{article.bodysim}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Display</h3> </th></tr>
        <tr>
            <td> <h4>Display Type</h4> </td>
            <td> <p>{{article.displaytype}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Display Size</h4> </td>
          <td>  <p>{{article.displaysize}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Resolution</h4> </td>
          <td>  <p>{{article.displayresolution}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Multitouch</h4> </td>
          <td>  <p>{{article.displaymultitouch}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Protection</h4> </td>
          <td>  <p>{{article.displayprotection}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Platform</h3> </th></tr>
        <tr>
            <td> <h4>OS</h4> </td>
            <td> <p>{{article.platformos}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Chipset</h4> </td>
          <td>  <p>{{article.platformchipset}}</p> </td>
        </tr>

        <tr>
          <td> <h4>CPU</h4> </td>
          <td>  <p>{{article.platformcpu}}</p> </td>
        </tr>

        <tr>
          <td> <h4>GPU</h4> </td>
          <td>  <p>{{article.platformgpu}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Storage</h3> </th></tr>
        <tr>
            <td> <h4>Memory Card Slot</h4> </td>
            <td> <p>{{article.memorycardslot}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Internal Memory</h4> </td>
          <td>  <p>{{article.internalmemory}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Selfie Camera</h3> </th></tr>
        <tr>
            <td> <h4>Dual Selfie Camera</h4> </td>
            <td> <p>{{article.selfiecameradual}}</p> </td>
        </tr>

        <tr>
          <td> <h4>SelfieCamera Features</h4> </td>
          <td>  <p>{{article.selfiecamerafeatures}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Selfie Camera Video</h4> </td>
          <td>  <p>{{article.selfiecameravideo}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Sound</h3> </th></tr>
        <tr>
            <td> <h4>Alert types</h4> </td>
            <td> <p>{{article.soundalerttypes}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Loud Speaker</h4> </td>
          <td>  <p>{{article.soundloudspeaker}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Headphone Jack</h4> </td>
          <td>  <p>{{article.soundheadphonejack}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>COMMS</h3> </th></tr>
        <tr>
            <td> <h4>WLAN</h4> </td>
            <td> <p>{{article.commswlan}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Bluetooth</h4> </td>
          <td>  <p>{{article.commsbluetooth}}</p> </td>
        </tr>

        <tr>
          <td> <h4>GPS</h4> </td>
          <td>  <p>{{article.commsgps}}</p> </td>
        </tr>

        <tr>
          <td> <h4>nfc</h4> </td>
          <td>  <p>{{article.commsnfc}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Radio</h4> </td>
          <td>  <p>{{article.commsradio}}</p> </td>
        </tr>

        <tr>
          <td> <h4>USB</h4> </td>
          <td>  <p>{{article.commsusb}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Features</h3> </th></tr>
        <tr>
            <td> <h4>Sensors</h4> </td>
            <td> <p>{{article.featuressensors}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Messaging</h4> </td>
          <td>  <p>{{article.featuresmessaging}}</p> </td>
        </tr>

        <tr>
          <td> <h4>Browser</h4> </td>
          <td>  <p>{{article.featuresbrowser}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Battery</h3> </th></tr>
        <tr>
            <td> <h4>Battery</h4> </td>
            <td> <p>{{article.battery}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Colors</h3> </th></tr>
        <tr>
            <td> <h4>Device Colors</h4> </td>
            <td> <p>{{article.devicecolors}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Tests</h3> </th></tr>
        <tr>
            <td> <h4>Performance</h4> </td>
            <td> <p>{{article.performancetests}}</p> </td>
        </tr>

        <tr>
            <td> <h4>Display</h4> </td>
            <td> <p>{{article.displaytest}}</p> </td>
        </tr>

        <tr>
            <td> <h4>Camera</h4> </td>
            <td> <p>{{article.cameratest}}</p> </td>
        </tr>

        <tr>
            <td> <h4>Loud Speaker</h4> </td>
            <td> <p>{{article.loudspeakertest}}</p> </td>
        </tr>

        <tr>
            <td> <h4>Audio</h4> </td>
            <td> <p>{{article.audiotest}}</p> </td>
        </tr>

        <tr>
            <td> <h4>Battery</h4> </td>
            <td> <p>{{article.batterytest}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Price</h3> </th></tr>
        <tr>
            <td> <h4>Kenya</h4> </td>
            <td> <p>{{article.priceinkenya}}</p> </td>
        </tr>

        <tr>
            <td> <h4>Nigeria</h4> </td>
            <td> <p>{{article.priceinnigeria}}</p> </td>
        </tr>

        <tr>
            <td> <h4>South Africa</h4> </td>
            <td> <p>{{article.priceinsouthafrica}}</p> </td>
        </tr>


        <tr><th colspan="3"> <h3>Other Features</h3> </th></tr>
        <tr>
            <td> <h4>Other Features</h4> </td>
            <td> <p>{{article.otherfeatures}}</p> </td>
        </tr>

      </tbody>
    </table>
          </div>


        </div>

        </div>

      </div>
      {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
    {% endblock %}
  </body>
</html>
