{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% if title %}
    <title></title>
    {% else %}
    <title>{{article.title}}</title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %}
      <div class="container">

        <div class="row"></div>

        <div class="row">
          <div class="col-sm-4">
            <img src="{{article.phone_image.url}}" class="img-responsive img-rounded article-image"  alt="{{article.title}}">
          </div>

          <div class="col-sm-8 top-details">
            <h1 class="text-center">{{article.title}}</h1>
            <div class="col-sm-6">
            <h4>Announced on {{article.launchannounced}}</h4>
            <h4>Available on {{article.launchavailable}}</h4>
            <h4>Available on {{article.launchavailable}}</h4>
            <h4>Available on {{article.launchavailable}}</h4>
            <br><br><br><br><br>
          </div>
          <div class="col-sm-3">
            <h4>Announced on {{article.launchannounced}}</h4>
          </div>
          <div class="col-sm-3">
            <h4>Available on {{article.launchavailable}}</h4>
          </div>
          </div>
        </div>

        <div class="row"> <br><br> </div>

        <div class="row">


          <div class="container">
          <div class="col-sm-7 details">
            <div class="row">

            <div class="col-sm-3 ">
              <h3>Network</h3>
            </div>

            <div class="col-xs-4">
              <h5>2G Network</h5>
              <h5>3G Network</h5>
              <h5>4G Network</h5>
              <h5>Gprs & Edge Connectivity</h5>
            </div>

            <div class="col-xs-5">
              <p>{{article.network2G}}</p>
              <p>{{article.network3G}}</p>
              <p>{{article.network4G}}</p>
              <p>{{article.gprsandedge}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Launch</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Announced Date</h5>
              <h5>Release Date</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.launchannounced}}</p>
              <p>{{article.launchavailable}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Body</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Dimensions</h5>
              <h5>Build</h5>
              <h5>Weight</h5>
              <h5>Sim</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.bodydimensions}}</p>
              <p>{{article.bodybuild}}</p>
              <p>{{article.bodyweight}}</p>
              <p>{{article.bodysim}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Display</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Display Type</h5>
              <h5>Display Size</h5>
              <h5>Resolution</h5>
              <h5>Multitouch</h5>
              <h5>Protection</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.displaytype}}</p>
              <p>{{article.displaysize}}</p>
              <p>{{article.displayresolution}}</p>
              <p>{{article.displaymultitouch}}</p>
              <p>{{article.displayprotection}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Platform</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>OS</h5>
              <h5>Chipset</h5>
              <h5>CPU</h5>
              <h5>GPU</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.platformos}}</p>
              <p>{{article.platformchipset}}</p>
              <p>{{article.platformcpu}}</p>
              <p>{{article.platformgpu}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Storage</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Memory Card Slot</h5>
              <h5>Internal Memory</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.memorycardslot}}</p>
              <p>{{article.internalmemory}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Main Camera</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Dual</h5>
              <h5>Features</h5>
              <h5>Video</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.maincameradual}}</p>
              <p>{{article.maincamerafeatures}}</p>
              <p>{{article.maincameravideo}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Selfie Camera</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Dual</h5>
              <h5>Features</h5>
              <h5>Video</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.selfiecameradual}}</p>
              <p>{{article.selfiecamerafeatures}}</p>
              <p>{{article.selfiecameravideo}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Sound</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Alert types</h5>
              <h5>Loud Speaker</h5>
              <h5>Headphone Jack</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.soundalerttypes}}</p>
              <p>{{article.soundloudspeaker}}</p>
              <p>{{article.soundheadphonejack}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>COMMS</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>WLAN</h5>
              <h5>Bluetooth</h5>
              <h5>GPS</h5>
              <h5>NFC</h5>
              <h5>Radio</h5>
              <h5>USB</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.commswlan}}</p>
              <p>{{article.commsbluetooth}}</p>
              <p>{{article.commsgps}}</p>
              <p>{{article.commsnfc}}</p>
              <p>{{article.commsradio}}</p>
              <p>{{article.commsusb}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Features</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Sensors</h5>
              <h5>Messaging</h5>
              <h5>Browser</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.featuressensors}}</p>
              <p>{{article.featuresmessaging}}</p>
              <p>{{article.featuresbrowser}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Battery</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Battery</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.battery}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Colors</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Device Colors</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.devicecolors}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Tests</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Performance</h5>
              <h5>Display</h5>
              <h5>Camera</h5>
              <h5>Loud Speaker</h5>
              <h5>Audio</h5>
              <h5>Battery</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.performancetests}}</p>
              <p>{{article.displaytest}}</p>
              <p>{{article.cameratest}}</p>
              <p>{{article.loudspeakertest}}</p>
              <p>{{article.audiotest}}</p>
              <p>{{article.batterytest}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Price</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Kenya</h5>
              <h5>Nigeria</h5>
              <h5>South Africa</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.priceinkenya}}</p>
              <p>{{article.priceinnigeria}}</p>
              <p>{{article.priceinsouthafrica}}</p>
            </div>

            </div>
            <hr>

            <div class="row">
            <div class="col-sm-3 ">
              <h3>Other Features</h3>
            </div>

            <div class="col-xs-4 ">
              <h5>Other Features</h5>
            </div>

            <div class="col-xs-5 ">
              <p>{{article.otherfeatures}}</p>
            </div>

            </div>
            <hr>

          </div>

          <div class="col-sm-5">
            <h2 class="text-center">Similar Devices</h2>
            {% for device_item in phones %}
            <div class="col-sm-6">
              <img src="{{device_item.phone_image.url}}" class="img-responsive phone-image img-rounded" alt="Image">
                <a href="/phones/article/{{device_item.id}}"><h4 class="text-center phone-title"> {{ device_item.title }} </h4></a>
            </div>
            <div class="col-sm-6">

            </div>
            {% endfor %}
          </div>
        </div>

        </div>

      </div>
      {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
    {% endblock %}
  </body>
</html>
