{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% if title %}
    <title>Devices Available</title>
    {% else %}
    <title>Mobile Devices</title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/phones.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %}

  <div class="infinite-container container phonecol">
    {% for number in numbers %}
      <div class="infinite-item col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <a href="/phones/article/{{number.id}}">
        <img src="{{number.phone_image.url}}" class="img-responsive phone-image img-rounded" alt="{{number.title}}">
        <h4>{{number.title}}</h4>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="loading" style="display: none;">
 Loading...
</div>

{% if numbers.has_next %}
 <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
{% endif %}

    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/infinite.min.js' %}"></script>
      <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
      {% bootstrap_javascript %}

    {% endblock %}
  </body>
</html>
