{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% if title %}
    <title>Devices Available</title>
    {% else %}
    <title>Mobile Devices</title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/phones.css' %}">
    {% endblock %}
  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %}
    <div class="container  phonecol">

      {% for device_item in phones %}
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">

        <a href="/phones/article/{{device_item.id}}">
        <img src="{{device_item.phone_image.url}}" class="img-responsive phone-image img-rounded" alt="Image">
        <h4 class="text-center phone-title"> {{ device_item.title }} </h4>
        <h5 class="text-center">Price in Ksh {{device_item.priceinkenya}}</h5>

        </a>
        </div>

        {% empty %}
        <div class="row">
          <h2 class="text-center">There No Devices</h2>
        </div>
        {% endfor %}

    </div>
    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
    {% endblock %}
  </body>
</html>
