body{
  background-color: rgba(33, 41, 49, 1);
}
.container{
  border-style: solid;
  border-color: rgba(2, 11, 20, 1);
}
.navbar{
  background-color: rgba(2, 11, 20, 1);
}
.navbar .navbar-brand{
  color: white;
}
.header_row{
  background-color: rgba(2, 11, 20, 1);
}
.content{
  background-color: #18242f;
  color: white;
}
h1{
  color: white;
}
h4{
  color: white;
  font-weight: bold;
  text-align: center;
}
h3{
  color: white;
  text-align: center;
}
h5{
  color: white;
}
.phonecol{
  background-color: rgba(33, 41, 49, 1);
}
h6{
  color: white;
}
.link-btn{
  background-color: #18242f;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #18242f;
    margin: 1em 0;
    padding: 0;
}
.brands{
  border-right: 1px solid;
  border-right-color: #18242f;
}
.brandsrow{
  background-color: rgba(2, 11, 20, 1);
}
.heading-row{
  margin-top: auto;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(2, 11, 20, 1);
   color: white;
   text-align: center;
}
.carousel-cell{
  padding: 1rem;
}
/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  display: none;
}
.img-flick{
  height: 300px;
  width: 200px;
}
