{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="theme-color" content="rgba(2, 11, 20, 1)">
    <meta name="msapplication-TileColor" content="rgba(2, 11, 20, 1)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="rgba(2, 11, 20, 1)">

    {% if title %}
    <title>Technology News, Product Reviews, Deals &amp; Specifications | Digital Trends</title>
    {% else %}
    <title>Technology News, Product Reviews, Deals &amp; Specifications | Digital Trends</title>
    {% endif %}

    <meta name="description" content="Digital Trends is your premier source for latest technology news in Africa, mobile phones in Africa, laptops in Africa, tablets in Africa, and unbiased e xpert product reviews of HDTVs, laptops, smartphones and more.">
    <link rel="canonical" href="http://206.189.143.250/">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Latest Africa Technology News, Product Reviews in Africa, smartphones Reviews, Phone Specifications, Phone Specs &amp; How-To's | Digital Trends">
    <meta property="og:description" content="Digital Trends is your home for Africa technology news,  product reviews , mobile app reviews and smartphones Specifications.">
    <meta property="og:url" content="http://206.189.143.250/">
    <meta property="og:site_name" content="Digital Trends">
    <meta property="og:image" content="https://cdn.dtcn.com/dt/dt-social-image.png">
    <meta property="og:image:secure_url" content="https://cdn.dtcn.com/dt/dt-social-image.png">
    <title></title>

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}
    {% block content %}
    <div class="infinite-container">
      <h1 class="text-center" > Iphone Mobile Phones</h1>
    {% for number in numbers %}
    <a href="/phones/article/{{number.id}}">
    <div class="infinite-item col-xs-4 col-sm-4 col-md-2 col-lg-2">
      <img src="{{number.phone_image.url}}" class="img-responsive" alt="{{number.title}}">
      <h4 style="color: white;">{{number.title}}</h4>
    </div>
  </a>
    {% empty %}
    {% endfor %}
    </div>
    <div class="loading" style="display: none;">
   Loading...
 </div>

 {% if numbers.has_next %}
   <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
 {% endif %}
    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/infinite.min.js' %}"></script>
      <script src="{% static 'js/navbar.js' %}"></script>
      {% bootstrap_javascript %}
      <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        window.history.pushState
        $('.loading').hide();
      }
    });
    {% endblock %}

  </body>
</html>
