{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128743241-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128743241-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta name="manufacturer" content="Nokia"> -->
    <meta name="model" content="{{article.title}}">
    <!-- <meta name="tags" content="best android budget phone,budget phones,cheap android phones,Nokia,nokia 6.1,nokia 6.1 review"> -->
    <meta name="theme-color" content="rgba(2, 11, 20, 1)">
    <meta name="msapplication-TileColor" content="rgba(2, 11, 20, 1)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="rgba(2, 11, 20, 1)">
    {% if title %}
    <title>{{article.title }} | AfricanTech Trends</title>
    {% else %}
    <title>{{article.title }} | AfricanTech Trends</title>
    {% endif %}
    <meta name="description" content="{{article.description}}">
    <link rel="canonical" href="{{article.url}}"
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="{{article.title}}">
    <meta property="article:published_time" content="{{article.date}}">
    <meta property="og:title" content="{{article.title}} | AfricanTech Trends">
    <meta property="og:description" content="{{article.description}}">
    <meta property="og:url" content="{{article.url}}">
    <!-- <meta property="og:site_name" content="AfricanTech Trends"> -->
    <!-- <meta property="article:tag" content="best android budget phone"> -->
    <!-- <meta property="article:tag" content="budget phones"> -->
    <!-- <meta property="article:tag" content="cheap android phones"> -->
    <!-- <meta property="article:tag" content="Nokia"> -->
    <!-- <meta property="article:tag" content="nokia 6.1"> -->
    <!-- <meta property="article:tag" content="nokia 6.1 review"> -->
    <!-- <meta property="article:section" content="Mobile"> -->
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}
    {% block content %}
    <div class="infinite-container">
      <h1 class="text-center" > Tecno Mobile Phones</h1>
    {% for number in numbers %}
    <a href="/phones/article/{{number.id}}">
    <div class="infinite-item col-xs-4 col-sm-4 col-md-2 col-lg-2">
      <img src="{{number.phone_image.url}}" class="img-responsive" alt="{{number.title}}">
      <h4 style="color: white;">{{number.title}}</h4>
    </div>
    </a>
    {% empty %}
    {% endfor %}
    </div>
    <div class="loading" style="display: none;">
   Loading...
 </div>

 {% if numbers.has_next %}
   <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
 {% endif %}
    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/infinite.min.js' %}"></script>
      <script src="{% static 'js/navbar.js' %}"></script>
      {% bootstrap_javascript %}
      <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        window.history.pushState
        $('.loading').hide();
      }
    });
    {% endblock %}

  </body>
</html>
