{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include 'navbar.html' %}
    {% block content %}
    <div class="infinite-container">
      <h1 class="text-center" > Tecno Mobile Phones</h1>
    {% for number in numbers %}
    <a href="/phones/article/{{number.id}}">
    <div class="infinite-item col-xs-4 col-sm-4 col-md-2 col-lg-2">
      <img src="{{number.phone_image.url}}" class="img-responsive" alt="{{number.title}}">
      <h4 style="color: white;">{{number.title}}</h4>
    </div>
    </a>
    {% empty %}
    {% endfor %}
    </div>
    <div class="loading" style="display: none;">
   Loading...
 </div>

 {% if numbers.has_next %}
   <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
 {% endif %}
    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/infinite.min.js' %}"></script>
      <script src="{% static 'js/navbar.js' %}"></script>
      {% bootstrap_javascript %}
      <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        window.history.pushState
        $('.loading').hide();
      }
    });
    {% endblock %}

  </body>
</html>
